.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light);
    background-color: var(--color-red);
}