.header {
  background-color: var(--color-dark);
  border-bottom: 1px solid var(--border-color-dark);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px;
    padding: 12px 0;
    background-color: var(--color-dark);
    @media (max-width: 864px) {
      column-gap: 20px;
    }
  }
  &__burger {
    display: none;
    @media (max-width: 864px) {
      display: flex;
    }
  }
  &__logo {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-light);
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 864px) {
      font-size: 16px;
    }
  }
  &__menu {
    margin-left: auto;
    @media (max-width: 864px) {
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
    }
    &-link {
      font-size: 14px;
      font-weight: 500;
      transition: all 0.15s linear;
      color: var(--color-light);
      &:hover {
        color: var(--color-red);
      }
      @media (max-width: 1024px) {
        font-size: 13px;
      }
    }
  }
  &__button {
    font-size: 14px;
    @media (max-width: 864px) {
      font-size: 10px;
      padding: 10px 10px;
      margin-left: auto;
    }
  }
}
