:root {
    --color-dark: #1F1F1F;
    --color-light: #E1E1E1;
    --color-ligth-alt: #787878;
    --color-grey: #9D9D9D;
    --border-color-dark: #3D3D3D;
    --border-color-light: #AFAFAF;
    --color-red: #CE0000;

    --star-color-green: #3EC528;
    --star-color-purple: #C624FF;
    --star-color-blue: #19AEED;

    --font-family-base: "Montserrat", sans-serif;

    --container-width: 1140px;
    // --container-padding-x: 20px;
}